
<div class="alert text-center cookiealert" role="alert">
    <b>Da li volite kolačiće?</b> &#x1F36A; Mi koristimo kolačiće kako bi Vam obezbedili najbolje iskustvo na sajtu. <a
        href="/terms" target="_blank">Saznaj više</a>
    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        Prihvatam
    </button>
    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        Ne prihvatam
    </button>
</div>

<!-- Main -->
<script src="/js/cookiealert.js"></script>
<script src="/js/main.js"></script>

<footer class="container-main">
    <div class="flex flex-row-collapse flex-center flex-gap">
        <div>
            <h1>Get in touch</h1>
            <p>If you have any questions ir reqire additional information about
                our work, please don't hesitate to reach out. We look forward to
                the oppotunity to connect and discuss a possible colaboration.
            </p>
        </div>
        <div class="flex flex-column">
            <div class="flex flex-row flex-center-y flex-gap footer-contact">
                <i class="fa-solid fa-phone fa-xl"></i>
                <div>
                    <p class="text-bold margin-y-small">Phone</p>
                    <a href="tel:+381606397277" class="color-text">+381606397277</a>
                </div>
            </div>
            <div class="flex flex-row flex-center-y flex-gap footer-contact">
                <i class="fa-solid fa-envelope fa-xl"></i>
                <div>
                    <p class="text-bold margin-y-small">Mail</p>
                    <a href="mailto:knjizenstvene@gmail.com" class="color-text">knjizenstvene@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="flex flex-column">
            <div class="flex flex-row flex-center-y flex-gap footer-contact">
                <i class="fa-brands fa-facebook fa-xl"></i>
                <div>
                    <p class="text-bold margin-y-small">Facebook</p>
                    <a href="https://facebook.com/knjizenstvene" class="color-text">facebook.com/knjizenstvene</a>
                </div>
            </div>
            <div class="flex flex-row flex-center-y flex-gap footer-contact">
                <i class="fa-brands fa-instagram fa-xl"></i>
                <div>
                    <p class="text-bold margin-y-small">Instagram</p>
                    <a href="https://www.instagram.com/knjizenstvene?igsh=NHZ4eDF1aXFwZ3Jv" class="color-text">instagram.com/knjizenstvene</a>
                </div>
            </div>
            <div class="flex flex-row flex-center-y flex-gap footer-contact">
                <i class="fa-solid fa-location-dot fa-xl"></i>
                <div>
                    <p class="text-bold margin-y-small">Adress</p>
                    <a href="https://maps.app.goo.gl/z8AAjujyYYYFSSgH8" class="color-text">Lješka 49,<br>11000 Belgrade, Serbia</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="flex flex-row flex-gap flex-center">
        <a href="/about" class="color-text">About</a>
        <a href="/education-and-expirience" class="color-text">Education & Experience</a>
        <a href="/workshops" class="color-text">Workshops</a>
        <a href="/contact" class="color-text">Contact</a>
        <a href="/terms" class="color-text">Terms</a>
    </div>
</footer>

</body>
</html>