
<div class="alert text-center cookiealert" role="alert">
    <b>Da li volite kolačiće?</b> &#x1F36A; Mi koristimo kolačiće kako bi Vam obezbedili najbolje iskustvo na sajtu. <a
        href="/terms" target="_blank">Saznaj više</a>
    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        Prihvatam
    </button>
    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        Ne prihvatam
    </button>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
    integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
    integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
<!-- Waypoints -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- Main -->
<script src="/js/cookiealert.js"></script>
<script src="/js/main.js"></script>

</body>

</html>