<nav class="main-nav flex flex-row flex-center flex-gap bg-primary text-l">
    <a href="/" class="color-text-inverted decoration-none">Home</a>
    <a href="/posts" class="color-text-inverted decoration-none">Posts</a>
    <a href="/about" class="color-text-inverted decoration-none">About</a>
    <a href="/contact" class="color-text-inverted decoration-none">Contact</a>
</nav>