<%- include('partials/header') %>
  <div class="container-main">
    <div class="flex flex-row-collapse flex-center">
      <%- include('partials/logo') %>
      <div class="flex-golden-ratio-desktop">
        <img src="/images/paper-tape/86.png" alt="" class="paper-tape">
        <article class="taped-content bg-top">
          <h1>About Us</h1>
          <p>We are Knjiženstvene – a group of creative and ambitious individuals
            who gathered around the shared goal of empowering young people to
            participate in various cultural activities.
          </p>
          <p>
            Though we are very young as an organisation, our individual experience
            is rich and we believe that, together, we can promote culture,
            literature and arts, and champion gender equality,
            especially among the youth.
          </p>
        </article>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>