<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div class="container-main">
    <div class="flex flex-row-collapse flex-center">
      <%- include('partials/logo') %>
        <div class="flex-golden-ratio-desktop">
          <img src="/images/paper-tape/86.png" alt="" class="paper-tape">
          <article class="taped-content bg-top">
            <h1>Contact</h1>
            <p>
              Our contact information is situated at the bottom of the page, 
              additionally our social media accounts are listed below.
            </p>
            <div class="flex flex-row-collapse">
              <div class="flex flex-row flex-center-y flex-gap footer-contact">
                <i class="fa-brands fa-instagram fa-xl"></i>
                <div>
                    <p class="text-bold margin-y-small">Instagram</p>
                    <a href="https://www.instagram.com/knjizenstvene/" class="color-text">@knjizenstvene</a>
                </div>
              </div>
              <div class="flex flex-row flex-center-y flex-gap footer-contact">
                <i class="fa-brands fa-facebook fa-xl"></i>
                <div>
                    <p class="text-bold margin-y-small">Facebook</p>
                    <a href="https://www.facebook.com/knjizenstvene" class="color-text">facebook.com/knjizenstvene</a>
                </div>
              </div>
            </div>
          </article>
        </div>
    </div>
  </div>
<%- include('partials/footer') %>