<%- include('partials/header') %>
  <%- include('partials/navbar') %>
    <div class="container-main">
      <div class="flex flex-row-collapse flex-center">
        <%- include('partials/logo') %>
          <div class="flex-golden-ratio-desktop">
            <img src="/images/paper-tape/86.png" alt="" class="paper-tape">
            <article class="taped-content bg-top">
              <h1>Education & Experience</h1>
              <p>As highlighted in our CVs, each of us holds either an
                MA or PhD, and we are all graduates of the Faculty of
                Philology at Belgrade University. Our professional
                backgrounds are rooted in education, teaching, and
                working with young people. We are strong advocates
                for continuous training and development, which
                enable us to explore and expand our diverse interests.</p>
              <div class="flex flex-row flex-gap flex-wrap flex-center">
                <img src="/images/certificates/1.png" alt="Image of a certificate." class="width-10rem aspect-square">
                <img src="/images/certificates/2.png" alt="Image of a certificate." class="width-10rem aspect-square">
                <img src="/images/certificates/3.png" alt="Image of a certificate." class="width-10rem aspect-square">
                <img src="/images/certificates/4.png" alt="Image of a certificate." class="width-10rem aspect-square">
                <img src="/images/certificates/5.png" alt="Image of a certificate." class="width-10rem aspect-square">
              </div>
            </article>
          </div>
      </div>
    </div>
    <%- include('partials/footer') %>