<%- include('partials/header') %>
  <div class="container-main">
    <div class="flex flex-row-collapse flex-center">
      <%- include('partials/logo') %>
      <nav class="flex flex-golden-ratio-desktop flex-column width-home-screen-tiles margin-left-3-5-desktop">
        <div class="flex flex-row-collapse flex-space-between">
          <a href="/about" class="display-block decoration-none color-text rotate--3 flex-golden-ratio-desktop mobile-width-100 clickable width-20vh-desktop">
            <img src="/images/paper-tape/88.png" alt="" class="paper-tape">
    
            <article class="taped-content taped-padding bg-primary aspect-square">
              <h1>About us</h1>
            </article>
          </a>
          <a href="/members" class="display-block decoration-none color-text rotate-2 flex-golden-ratio-desktop mobile-width-100 clickable width-20vh-desktop">
            <img src="/images/paper-tape/82.png" alt="" class="paper-tape">
    
            <article class="taped-content taped-padding aspect-square" style="background-color: #c48c9f;">
              <h1>Members</h1>
            </article>
          </a>
        </div>
        <div class="flex flex-row-collapse flex-space-between">
          <a href="/workshops" class="display-block decoration-none color-text rotate-5 flex-golden-ratio-desktop mobile-width-100 clickable width-20vh-desktop">
            <img src="/images/paper-tape/86.png" alt="" class="paper-tape">
    
            <article class="taped-content taped-padding aspect-square" style="background-color: #b08cc4;">
              <h1>Workshops</h1>
            </article>
          </a>
          <a href="/other-projects" class="display-block decoration-none color-text rotate--2 flex-golden-ratio-desktop mobile-width-100 clickable width-20vh-desktop">
            <img src="/images/paper-tape/88.png" alt="" class="paper-tape">
    
            <article class="taped-content taped-padding bg-primary aspect-square">
              <h1>Other projects</h1>
            </article>
          </a>
        </div>
        <div class="flex flex-row-collapse flex-space-between">
          <a href="/posts" class="display-block decoration-none color-text rotate--3 flex-golden-ratio-desktop mobile-width-100 clickable width-20vh-desktop">
            <img src="/images/paper-tape/82.png" alt="" class="paper-tape">
    
            <article class="taped-content taped-padding aspect-square" style="background-color: #c48ca8;">
              <h1>Blog</h1>
            </article>
          </a>
          <a href="/contact" class="display-block decoration-none color-text rotate-2 flex-golden-ratio-desktop mobile-width-100 clickable width-20vh-desktop">
            <img src="/images/paper-tape/86.png" alt="" class="paper-tape">
    
            <article class="taped-content taped-padding aspect-square" style="background-color: #b08cc4;">
              <h1>Contact</h1>
            </article>
          </a>
        </div>
      </nav>
    </div>
  </div>
  <%- include('partials/footer') %>