<%- include('partials/header') %>
  <%- include('partials/navbar') %>
    <div class="container-main">
      <div class="flex flex-row-collapse flex-center">
        <%- include('partials/logo') %>
          <div class="flex-golden-ratio-desktop">
            <img src="/images/paper-tape/86.png" alt="" class="paper-tape">
            <article class="taped-content bg-top">
              <h1>Other projects</h1>
              <p>All our projects that don't fit somewhere else will be shown here. For now there is none.</p>
            </article>
          </div>
      </div>
    </div>
    <%- include('partials/footer') %>