<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div class="container-main">
  <h1>Terms of Use</h1>
  <p>By using any part of the <a href="https://knjizenstvene.com/">knjizenstvene.com</a> portal, you automatically accept all applicable rules of use. Users are required to regularly read the terms of use, and it is considered that by using <a href="https://knjizenstvene.com/">knjizenstvene.com</a> or any part of it, users are at all times familiar with the terms of use, as well as any potential risks arising from the use of this portal, and that they fully understand them. No part of the <a href="https://knjizenstvene.com/">knjizenstvene.com</a> portal may be used for unlawful purposes.</p>

  <p>All users have the right to freely use the content of the <a href="https://knjizenstvene.com/">knjizenstvene.com</a> portal, provided they do not violate the terms of use. Access to the <a href="https://knjizenstvene.com/">knjizenstvene.com</a> portal and all its content is permitted to individuals of all ages.</p>

  <p>The <a href="https://knjizenstvene.com/">knjizenstvene.com</a> portal consists of its own content, content from partners and advertisers, free content, content created by visitors, and links to external pages.</p>

  <p>If a visitor uses or republishes any part of the portal in other media without authorization and for non-personal purposes, without written consent from the owner, it will be considered a copyright infringement of the <a href="https://knjizenstvene.com/">knjizenstvene.com</a> portal. In the case of copyright infringement, the <a href="https://knjizenstvene.com/">knjizenstvene.com</a> portal has the right, in accordance with the law, to legal protection and compensation for damages.</p>

  <p>Without prior written permission, users may download information and materials and store them on a user's personal computer for personal use.</p>

  <p>The <a href="https://knjizenstvene.com/">knjizenstvene.com</a> portal will immediately consider complaints from visitors who believe their copyright has been violated by content published on the portal. If it is determined that a copyright infringement has occurred, the text, photo, etc., will be removed from the portal.</p>

  <p>The <a href="https://knjizenstvene.com/">knjizenstvene.com</a> portal contains links to web pages outside its own portal. The <a href="https://knjizenstvene.com/">knjizenstvene.com</a> portal is not responsible for the content of web pages outside of its own domain.</p>

  <p>Regarding interactive content (visitor comments), the <a href="https://knjizenstvene.com/">knjizenstvene.com</a> portal reserves the right not to publish content that violates an individual's privacy, offensive content, or content that is contrary to the provisions of the Law on Public Information. The <a href="https://knjizenstvene.com/">knjizenstvene.com</a> portal is not responsible for visitor comments, as they reflect their own opinions.</p>

  <p>The <a href="https://knjizenstvene.com/">knjizenstvene.com</a> portal protects user privacy to the greatest extent possible. The portal commits to using data obtained from users during the use of the portal in good faith and not to distribute private information to third parties without the user's permission.</p>

  <p>The portal publishes video files that are hosted on YouTube.com servers. Video files marked as "Related" are automatically placed by YouTube software, over which <a href="https://knjizenstvene.com/">knjizenstvene.com</a> has no control, and therefore <a href="https://knjizenstvene.com/">knjizenstvene.com</a> is not responsible for the content of these videos.</p>

  <p>The <a href="https://knjizenstvene.com/">knjizenstvene.com</a> portal reserves the full right to periodically change or modify the terms without notice.</p>
</div>
<%- include('partials/footer') %>