<%- include('partials/header') %>
    <div class="container-fluid pb-4 pt-4 paddding">
        <div class="container paddding">
            <div class="row mx-0">
                <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                    <div>
                        <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">
                            Uslovi korišćenja
                        </div>
                    </div>
                    <p>Korišćenjem bilo kog dela <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a> portala
                        automatski prihvatate sva važeća pravila
                        korišćenja. Korisnici su dužni da redovno čitaju pravila korišćenja, pa se smatra da su
                        korisnici
                        korišćenjem <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a> ili bilo kog njegovog
                        dela u svakom trenutku upoznati sa
                        pravilima korišćenja, kao i eventualnim rizicima koji nastaju iz korišćenja ovog portala i da su
                        ih
                        razumeli u celosti. Ni jedan deo <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a>
                        portala ne može se koristiti u nezakonite
                        svrhe.</p>

                    <p>Svi korisnici imaju pravo da besplatno koriste sadržaj <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a> portala, ukoliko ne
                        krše pravila korišćenja. Pristupu <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a>
                        portalu i svim njegovim sadržajima
                        dozvoljen je osobama bilo kog uzrasta.</p>

                    <p>Portal <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a> se sastoji od vlastitih
                        sadržaja, sadržaja partnera i oglašivača,
                        besplatnih sadržaja, sadržaja kreiranih od strane posetilaca i linkova na spoljne stranice.</p>

                    <p>Ukoliko posetilac neovlašćeno i u svrhe koje nisu lične, koristi i u drugim medijima prenosi bilo
                        koji deo portala bez pisane saglasnosti vlasnika, smatraće se da vrši povredu autorskih prava
                        portala <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a>. U slučaju povrede
                        autorskih prava, portal
                        <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a> u skladu sa Zakonom, ima pravo na
                        sudsku zaštitu i naknadu štete.
                    </p>

                    <p>Bez prethodnog pisanog odobrenja, korisnik može preuzimati informacije i material i čuvati na
                        disku
                        računara pojedinačnog korisnika radi lične upotrebe.</p>

                    <p>Portal <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a> će odmah razmotriti
                        primedbe posetilaca koji smatraju da im je
                        objavljivanjem sadržaja na portalu povredjeno sopstveno autorsko pravo. U slučaju da se utvrdi
                        da se
                        radi o povredi autorskih prava, tekst, fotografija i dr. biće skinuti sa portala.</p>

                    <p>Portal <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a> sadrži linkove na web
                        stranice izvan vlastitog portala. Portal
                        <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a> ne snosi odgovornost za sadržinu
                        web stranica izvan svog portala.
                    </p>

                    <p>Kada je reč o interaktivnim sadržajima (komentarima posetilaca), portal <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a>
                        zadržava pravo da ne objavi sadržaje kojima se povredjuje privatnost nekog lica, uvredljive
                        sadržaje
                        kao i sadržaje koje su u suprotnosti sa odredbama Zakona o javnom informisanju. Portal
                        <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a> ne odgovara za komentare
                        posetilaca koji su odraz njihovog mišljenja.
                    </p>

                    <p>Portal <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a> štiti privatnost korisnika
                        u najvećoj mogućoj meri. Portal se
                        obavezuje da će u dobroj nameri koristiti podatke dobijene od korisnika tokom korišćenja
                        portala, te
                        da privatne podatke neće distribuirati trećoj strani, osim uz dozvolu korisnika.</p>

                    <p>Portal objavljuje video fajlove koji su locirani na serverima YouTube.com. Video fajlovi koji su
                        označeni kao ‘’Related’’ postavljeni su o automatizmu YouTube softvera na koji
                        <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a> nema niti može imati uticaja,
                        samim tim <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a> nije
                        odgovoran za sadržaje ovih video fajlova.
                    </p>

                    <p>Portal <a href="https://jezikufokusu.rs/">jezikufokusu.rs</a> zadržava puno pravo da bez
                        najave povremeno promeni ili modifikuje
                        pravila.</p>
                </div>
                <%- include('partials/sidebar') %>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>