<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div class="container-main">
    <div class="flex flex-row-collapse flex-center">
      <%- include('partials/logo') %>
        <div class="flex-golden-ratio-desktop">
          <img src="/images/paper-tape/86.png" alt="" class="paper-tape">
          <article class="taped-content bg-top">
            <h1>Workshops</h1>
            <p>We organise interactive storytelling workshops for
                children with the aim of engaging them in literary works
                and instilling love for books and reading. We use props
                and theatrical elements, and stage shows where
                children can play their favourite characters. We
                support learning through play and team with local
                libraries and preschools.</p>
          </article>
        </div>
    </div>
  </div>
<%- include('partials/footer') %>